{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
{% set d = section.extra %}

{% include "sections/hero.html" %}
{% include "sections/features.html" %}
{% include "sections/about.html" %}
{% include "sections/scenarios.html" %}
{% include "sections/steps.html" %}
{# Kurzy dočasně skryté – obsahově se překrývají s TOWER projekty: {% include "sections/courses.html" %} #}
{% include "sections/projects.html" %}
{% include "sections/packages.html" %}
{% include "sections/faq.html" %}
{% include "sections/resources.html" %}
{% include "sections/testimonials.html" %}
{% include "sections/contact.html" %}
{% include "sections/cta.html" %}

{% endblock content %}